.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
}

.field {
  width: 40%;
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.btn {
  margin-left: 16px;
}

.field-title {
  white-space: nowrap;
  margin-bottom: 8px;
}
